/*
 *
 */

section.bg-white { padding: 1rem; }

/*
 * Colours
 */

.bg-primary {
    background-color: #D0E5F7 !important;
}
.bg-darkest {
    background-color: #0F121B !important;
}
.bg-dark {
    background-color: #5F67AF !important;
}
.bg-medium {
    background-color: #C2E4D7 !important;
}
.bg-light {
    background-color: #B9BADD !important;
}
.bg-lightest {
    background-color: #FFFFFF !important;
}

/*
 * Typography
 */

:root {
    --bs-font-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
    --bs-body-bg: #F5F6FA; /* Lightest */
}

* { font-family: "Roboto", Helvetica, Arial, sans-serif; font-weight: 500; }

p, 
.color-swatch-body .prop-item .value { font-weight: 500; }

h1, h2, h3, h4 { font-weight: 800; }

.row div-to-resolve { background-color: #ffffff; border-radius: 10px; }
.pb-5 { border-radius: 10px; }